<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ECommerce_LoginServlet</servlet-name>
        <servlet-class>B_servlets.ECommerce_LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ECommerce_LogoutServlet</servlet-name>
        <servlet-class>B_servlets.ECommerce_LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ECommerce_RegistrationServlet</servlet-name>
        <servlet-class>B_servlets.ECommerce_RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ECommerce_WishlistServlet</servlet-name>
        <servlet-class>B_servlets.ECommerce_WishlistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ECommerce_FurnitureServlet</servlet-name>
        <servlet-class>B_servlets.ECommerce_FurnitureServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ECommerce_SaveWishlistServlet</servlet-name>
        <servlet-class>B_servlets.ECommerce_SaveWishlistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountManagement_LoginServlet</servlet-name>
        <servlet-class>A1_servlets.AccountManagement_LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountManagement_RegistrationServlet</servlet-name>
        <servlet-class>A1_servlets.AccountManagement_RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inbound_OutboundServlet</servlet-name>
        <servlet-class>A3_servlets.Inbound_OutboundServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountManagement_StaffServlet</servlet-name>
        <servlet-class>A1_servlets.AccountManagement_StaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountManagement_UpdateStaffServlet</servlet-name>
        <servlet-class>A1_servlets.AccountManagement_UpdateStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountManagement_RemoveStaffServlet</servlet-name>
        <servlet-class>A1_servlets.AccountManagement_RemoveStaffServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ECommerce_LoginServlet</servlet-name>
        <url-pattern>/ECommerce_LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ECommerce_LogoutServlet</servlet-name>
        <url-pattern>/ECommerce_LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ECommerce_RegistrationServlet</servlet-name>
        <url-pattern>/ECommerce_RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ECommerce_WishlistServlet</servlet-name>
        <url-pattern>/ECommerce_WishlistServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ECommerce_FurnitureServlet</servlet-name>
        <url-pattern>/ECommerce_FurnitureServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ECommerce_SaveWishlistServlet</servlet-name>
        <url-pattern>/ECommerce_SaveWishlistServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountManagement_LoginServlet</servlet-name>
        <url-pattern>/AccountManagement_LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountManagement_RegistrationServlet</servlet-name>
        <url-pattern>/AccountManagement_RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inbound_OutboundServlet</servlet-name>
        <url-pattern>/Inbound_OutboundServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountManagement_StaffServlet</servlet-name>
        <url-pattern>/AccountManagement_StaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountManagement_UpdateStaffServlet</servlet-name>
        <url-pattern>/AccountManagement_UpdateStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountManagement_RemoveStaffServlet</servlet-name>
        <url-pattern>/AccountManagement_RemoveStaffServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
